body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fdfdfd;

  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(59, 113, 222), black), black;
  background-repeat: no-repeat;
  background-size: 100% 90%, 100% 10%;
  background-position: top, bottom;
}



.wrapper {
  text-align: center;
  margin-top: 40px;
}

.wrapper h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.wrapper p {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.wrapper img {
  width: 275px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}



.site-header {
  margin: 0;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}



.navigation {
  background-color: #444;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation li {
  margin: 0 10px;
}

.navigation a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #666;
  border-radius: 4px;
}



.image-row-1 {
  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin-left: 80px;
}


.image-row-3 {
  margin-bottom: 50px;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 20px;
  margin-right: 80px;
}


.image-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 50px 80px;
}


.image-row img {
  width: 350px;
  height: auto;
  flex-shrink: 0
}



.text-block {
  max-width: 500px;
  color: white;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}


.text-block h2 {
  margin-top: 0;
  font-size: 2em;
  font-family: '', Arial, Helvetica, sans-serif;
}

.text-block p {
  line-height: 1.8;
  font-size: 1.2em; 
  font-family: 'Verdana', sans-serif; 
}
